// Body
$body-bg: #f5f8fa;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Definition
$above-header-bg-color: #40b1f2;
$header-bg-color: #171a21;
$content-bg-color: #173d58;
$footer-bg-color: #171a21;
$discount-bg-color: #4c6b22;
$price-bg-color: #173041;

$text-color-primary: #c6d4df;
$text-color-secondary: #b8b6b4;
$text-color-hover: #fff;
$discount-text-color-green: #a4d007;

$container-width: 940px;
$container-displacement: -90px;

$global-content-width: 940px;

$above-header-height: 4px;
$header-height: 100px;
$footer-height: 92px;
$footer-content-height: 50px;
$footer-menu-height: 42px;

// Home page
$home-page-content-wrapper-width: 1170px;
$home-page-gutter-width: 230px;
$home-page-core-wrapper-width: 940px;
$home-page-section-width: 940px;
$home-page-section-title-width: $home-page-section-width;
$home-page-section-content-width: $home-page-section-width;

$home-page-section-title-height: auto;