
// Body
$body-bg: #f5f8fa;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Custom
$above-header-bg-color: #40b1f2;
$header-bg-color: #171a21;
$content-bg-color: #173d58;
$footer-bg-color: #171a21;

$text-color-primary: #c6d4df;
$text-color-secondary: #b8b6b4;
$text-color-hover: #fff;

$container-width: 940px;
$container-displacement: -90px;

$above-header-height: 4px;
$header-height: 100px;
$footer-height: 92px;
