@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "variables";

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "vendor/components/font-awesome/scss/font-awesome.scss";

//
// Definition
//

.global-above-header-wrapper {
	background-color: $above-header-bg-color;
	height: $above-header-height;
}
.global-header-wrapper {
	background-color: $header-bg-color;
}
.global-content-wrapper {
	background-color: $content-bg-color;
}
.global-footer-wrapper {
	background-color: $footer-bg-color;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.global-header {
	width: $container-width;
	height: $header-height;
	right: $container-displacement;
	position: relative;
	color: $text-color-primary;

	.header-logo {
		height: 100%;
		float: left;
		line-height: 95px;

		a {
			color: $text-color-primary;
		}
		i {
			vertical-align: middle;
		}
	}
	.header-title {
		height: 100%;
		float: left;
		line-height: 100px;
		margin-right: 55px;

		a {
			color: $text-color-primary;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.5em;
			font-weight: bold;
			padding-left: 10px;
		}
	}
	.header-menu {
		width: auto;
		height: 100%;
		float: left;

		ul {
			padding-top: 30px;

			li {
				float: left;

				a {
					color: $text-color-secondary;
					text-transform: uppercase;
					font-weight: bold;
					padding: 10px 7px;
				}
				a:hover {
					color: $text-color-hover;
					background-color: $header-bg-color;
				}
			}
		}
	}
	.header-actions {
		height: 100%;
		float: right;

		ul {
			li {
				float: left;

				a {
					color: $text-color-secondary;
				}
				a:hover {
					color: $text-color-hover;
					background-color: $header-bg-color;
				}
			}
		}
	}
}
.global-content {
	width: $global-content-width;

}
.global-footer {
	width: $container-width;
	height: $footer-height;
	right: $container-displacement;
	position: relative;
	margin: 40px auto;
	color: $text-color-primary;

	.footer-content {
		width: 100%;
		height: $footer-content-height;
		float: left;

		.footer-logo {
			height: 100%;
			float: left;
			margin-right: 15px;

			a {
				color: $text-color-primary;
			}
			i {
				font-size: 50px;
			}
		}
		.footer-text {
			height: 100%;
			float: left;
			margin-top: 5px;

			p {
				margin: 0;
				color: $text-color-secondary;
			}
		}
		.footer-title {
			height: 100%;
			float: right;
			line-height: 55px;

			a {
				color: $text-color-primary;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1.7em;
				padding-right: 15px;
			}
		}
	}
	.footer-menu {
		width: 100%;
		height: $footer-menu-height;
		float: left;

		ul {
			li {
				float: left;

				a {
					color: $text-color-primary;
					text-transform: capitalize;
				}
				a:hover {
					color: $text-color-hover;
					background-color: $footer-bg-color;
				}
			}
			li:first-child {
				a:first-child {
					padding-left: 0;
				}
			}
		}
	}
}
.clear {
	clear: both;
}

//
// Error
//

.error-full-height {
	height: 80vh;
}
.error-flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}
.error-position-ref {
	position: relative;
}
.error-content {
	text-align: center;
}
.error-title {
	font-size: 36px;
	padding: 20px;
	color: $text-color-primary;
}


//
// Custom
//

.home-page-content-wrapper {
	width: $home-page-content-wrapper-width;
	height: auto;
	left: -25px;
	position: relative;

	.home-page-gutter {
		width: $home-page-gutter-width;
		float: left;
		padding-bottom: 50px;

		.gutter-icon {
			width: 210px;
			margin-right: 20px;
			text-align: center;
			color: $text-color-primary;
			border-bottom: 1px solid #377096;

			i {
				vertical-align: middle;
				padding-top: 18px;
				padding-bottom: 18px;
			}
		}
		.gutter-wrapper {
			padding-right: 40px;

			.gutter-header {
				color: $text-color-primary;
				font-size: 12px;
				text-transform: uppercase;
				margin: 7px 0;
			}
			.gutter-items { }
			.gutter-genres {
				margin-top: 15px;
			}
			.gutter-item {
				color: $above-header-bg-color;
				display: block;
				font-size: 12px;
				margin: 7px 0;
				text-transform: capitalize;
			}
			.gutter-item:hover {
				text-decoration: none;

				.item-text {
					color: $text-color-hover;
				}
			}
			.gutter-item > div {
				width: 19px;
				height: 19px;
				display: inline-block;
				background-color: rgba(13, 126, 191, 0.4);
				border-radius: 2px;
				line-height: 19px;
				text-align: center;
				margin-right: 7px;

				i {
					vertical-align: middle;
				}
			}
			.gutter-item > b {
				font-weight: normal;
			}
		}
	}
	.home-page-core-wrapper {
		width: $home-page-core-wrapper-width;
		padding-top: 35px;
		float: right;

		.home-page-section {
			width: $home-page-section-width;

			.home-page-section-title {
				width: $home-page-section-title-width;
				height: $home-page-section-title-height;
				color: $text-color-hover;
				text-transform: uppercase;
				margin-bottom: 10px;

				h2 {
					margin: 0;
					font-size: 1.3em;
				}
			}
			.home-page-section-content {
				width: $home-page-section-content-width;

				#featuredCarousel {
					width: 620px;
					height: 355px;
					position: relative;
					float: left;

					.carousel-inner {
						position: relative;
						overflow: hidden;

						.carousel-item {
							position: relative;
							display: none;

							img {
								width: 620px;
								height: 355px;
							}
						}
						.active {
							display: block;
						}
					}
				}
				#featuredAside {
					width: 320px;
					height: 355px;
					position: relative;
					float: right;
					background: linear-gradient(to top right, #171a21 0%, #2a2f3c 100%);
				}
			}
		}
	}
}