@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "variables";

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "vendor/components/font-awesome/scss/font-awesome.scss";

//
// Definition
//
.global-above-header-wrapper {
	background-color: $above-header-bg-color;
	height: $above-header-height;
}
.global-header-wrapper {
	background-color: $header-bg-color;
}
.global-content-wrapper {
	background-color: $content-bg-color;
}
#loginSection {
	background-color: #000;
}
.global-footer-wrapper {
	background-color: $footer-bg-color;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.global-header {
	width: $container-width;
	height: $header-height;
	right: $container-displacement;
	position: relative;
	color: $text-color-primary;

	.header-logo {
		height: 100%;
		float: left;
		line-height: 95px;

		a {
			color: $text-color-primary;
		}
		i {
			vertical-align: middle;
		}
	}
	.header-title {
		height: 100%;
		float: left;
		line-height: 100px;
		margin-right: 55px;

		a {
			color: $text-color-primary;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.5em;
			font-weight: bold;
			padding-left: 10px;
		}
	}
	.header-menu {
		width: auto;
		height: 100%;
		float: left;

		ul {
			padding-top: 30px;

			li {
				float: left;

				a {
					color: $text-color-secondary;
					text-transform: uppercase;
					font-weight: bold;
					padding: 10px 7px;
				}
				a:hover {
					color: $text-color-hover;
					background-color: $header-bg-color;
				}
			}
		}
	}
	.header-actions {
		height: 100%;
		float: right;

		ul {
			li {
				float: left;

				a {
					color: $text-color-secondary;
				}
				a:hover {
					color: $text-color-hover;
					background-color: $header-bg-color;
				}
			}
		}
	}
}
.global-content {
	width: $global-content-width;
}
#loginSection {

	.container {
		right: -25px;
		padding-top: 25px;
		padding-bottom: 25px;
		position: relative;

		#loginSectionGutter {
			width: $home-page-gutter-width;
			height: 150px;
			float: left;
		}
		#loginSectionWrapper {
			width: $home-page-core-wrapper-width;
			float: left;

			#loginSectionTop {
				height: 50px;

				.dash-wrapper {
					width: 290px;
					height: 26px;
					float: left;

					hr {
						margin-top: 13px;
						margin-bottom: 0;
						border-top: 1px solid $above-header-bg-color;
					}
				}
				.dash-center {
					width: 360px;
					height: 26px;
					float: left;
					text-align: center;
					color: $above-header-bg-color;

					h3 {
						margin: 0;
					}
				}
			}
			#loginSectionBottom {
				text-align: center;

				p {
					font-weight: bold;

					a {
						text-decoration: none;
						color: $text-color-hover;
					}
				}
				.link-buttton {
					border-radius: 4px;
					border: 1px solid $footer-bg-color;
					padding: 5px 15px;
					display: inline-block;
					text-decoration: none;
					color: $text-color-primary;
					background: linear-gradient(to left, #7cbb00 0%, #61882b 100%);
				}
				.link-buttton:hover {
					background: none #7CBB00;
					color: $text-color-hover;
				}
				p:last-child {
					margin-top: 11px;
				}
			}
		}
	}
}
.global-footer {
	width: $container-width;
	height: $footer-height;
	right: $container-displacement;
	position: relative;
	margin: 40px auto;
	color: $text-color-primary;

	.footer-content {
		width: 100%;
		height: $footer-content-height;
		float: left;

		.footer-logo {
			height: 100%;
			float: left;
			margin-right: 15px;

			a {
				color: $text-color-primary;
			}
			i {
				font-size: 50px;
			}
		}
		.footer-text {
			height: 100%;
			float: left;
			margin-top: 5px;

			p {
				margin: 0;
				color: $text-color-secondary;
			}
		}
		.footer-title {
			height: 100%;
			float: right;
			line-height: 55px;

			a {
				color: $text-color-primary;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1.7em;
				padding-right: 15px;
			}
		}
	}
	.footer-menu {
		width: 100%;
		height: $footer-menu-height;
		float: left;

		ul {
			li {
				float: left;

				a {
					color: $text-color-primary;
					text-transform: capitalize;
				}
				a:hover {
					color: $text-color-hover;
					background-color: $footer-bg-color;
				}
			}
			li:first-child {
				a:first-child {
					padding-left: 0;
				}
			}
		}
	}
}
.app-global-container {
	width: $global-content-width;
	right: 0;
}
.clear {
	clear: both;
}
.uppercase {
	text-transform: uppercase;
}
.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}

//
// Error
//

.error-full-height {
	height: 80vh;
}
.error-flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}
.error-position-ref {
	position: relative;
}
.error-content {
	text-align: center;
}
.error-title {
	font-size: 36px;
	padding: 20px;
	color: $text-color-primary;
}


//
// Custom
//

.home-page-content-wrapper {
	width: $home-page-content-wrapper-width;
	height: auto;
	left: -25px;
	position: relative;

	.home-page-gutter {
		width: $home-page-gutter-width;
		float: left;
		padding-bottom: 50px;

		.gutter-icon {
			width: 210px;
			margin-right: 20px;
			text-align: center;
			color: $text-color-primary;
			border-bottom: 1px solid #377096;

			a {
				text-decoration: none;
				color: $text-color-primary;
				display: inline-block;
				padding-left: 80px;
				padding-right: 80px;

				i {
					vertical-align: middle;
					padding-top: 18px;
					padding-bottom: 18px;
				}
			}
		}
		.gutter-wrapper {
			padding-right: 40px;

			.gutter-header {
				color: $text-color-primary;
				font-size: 12px;
				text-transform: uppercase;
				margin: 7px 0;
			}
			.gutter-items { }
			.gutter-genres {
				margin-top: 15px;
			}
			.gutter-item {
				color: $above-header-bg-color;
				display: block;
				font-size: 12px;
				margin: 7px 0;
				text-transform: capitalize;
			}
			.gutter-item:hover {
				text-decoration: none;

				.item-text {
					color: $text-color-hover;
				}
			}
			.gutter-item > div {
				width: 19px;
				height: 19px;
				display: inline-block;
				background-color: rgba(13, 126, 191, 0.4);
				border-radius: 2px;
				line-height: 19px;
				text-align: center;
				margin-right: 7px;

				i {
					vertical-align: middle;
				}
			}
			.gutter-item > b {
				font-weight: normal;
			}
		}
	}
	.home-page-core-wrapper {
		width: $home-page-core-wrapper-width;
		padding-top: 35px;
		float: right;

		.home-page-section {
			width: $home-page-section-width;

			.home-page-section-title {
				width: $home-page-section-title-width;
				height: $home-page-section-title-height;
				color: $text-color-hover;
				text-transform: uppercase;
				margin-bottom: 10px;

				h2 {
					margin: 0;
					font-size: 1.3em;

					.browse-all {
					    float: right;
					    text-transform: none;
					    letter-spacing: normal;
					    display: inline-block;
					    position: relative;
					    top: -3px;
					    border: 1px solid $text-color-secondary;
					    border-radius: 2px;

					    a {
					    	padding: 2px 15px;
					    	display: inline-block;
							color: $text-color-hover;
							display: inline-block;
							text-transform: uppercase;
							font-size: 16px;
							text-decoration: none;
					    }
					}
				}
			}
			.home-page-section-content {
				width: $home-page-section-content-width;

				#featuredCarousel {
					width: 940px;
					height: 415px;
					margin-bottom: 10px;
					position: relative;
					float: left;

					.carousel-inner {
						width: 940px;
						height: 355px;
						position: relative;
						overflow: hidden;
						display: inline-block;

						.carousel-item {
							position: relative;
							display: none;

							img {
								width: 620px;
								height: 355px;
							}
							.featured-info {
								width: 320px;
								height: 355px;
								float: right;
								position: relative;
								padding-left: 15px;
								padding-right: 45px;
								background: linear-gradient(to top right, #171a21 0%, #2a2f3c 100%);

								.info-title {
									margin-top: 130px;
									height: auto;
									color: #fff;
								}
								.info-price {
									position: absolute;
									bottom: 10px;
									color: #fff;

									.price-discount {
										background-color: $discount-bg-color;
										display: inline-block;
										color: $discount-text-color-green;
										padding: 1px 5px;
										float: left;
									}
									.price-base {
										background-color: #000;
										display: inline-block;
										color: $text-color-secondary;
										padding: 1px 5px;
										float: left;
									}
									.price-actual {
										background-color: #000;
										display: inline-block;
										padding: 1px 5px;
										float: left;
									}
								}
							}
						}
						.active {
							display: block;
						}
					}
					.carousel-control {
						width: 45px;
						height: 110px;
						top: 122px;
						line-height: 110px;
					}
					.carousel-control-prev {
						left: -45px;
						background: linear-gradient(to left, #173d58 0%, #171a21 100%);
					}
					.carousel-control-next {
						left: auto;
						right: -45px;
						background: linear-gradient(to right, #173d58 0%, #171a21 100%);
					}
				}
			}
			#specialOffers {
				width: 940px;
				margin-bottom: 60px;

				.special-offers-row {
					width: 940px;
					height: auto;
					margin-bottom: 10px;

					div.special-offer-item:first-child {
						margin-right: 5px;
					}
					div.special-offer-item:nth-child(2) {
						margin-right: 5px;
					}
					.special-offer-item {
						width: 310px;
						height: 190px;
						float: left;
						background: linear-gradient(to top right, #1d6589 0%, #40b1f2 100%);

						.special-offer-item-image {
							width: 310px;
							height: 145px;

							img {
								width: 310px;
								height: 145px;
							}
						}
						.special-offer-item-price {
							width: 310px;
							height: 45px;
							padding: 5px;

							.special-offer-item-price-wrapper {
								display: inline-block;
								float: right;

								.special-offer-price-discount {
									background-color: $discount-bg-color;
									color: $discount-text-color-green;
									float: left;
									height: 35px;
									padding: 0 10px;
									font-size: 20px;
								}
								.special-offer-price-both {
									height: 35px;
									float: right;
									background-color: $price-bg-color;
									font-size: 12px;
									padding: 0 7px;

									.special-offer-price-base {
										height: 17px;
										color: $text-color-secondary;
									}
									.special-offer-price-sale {
										height: 18px;
										color: $text-color-hover;
									}
								}
							}
						}
					}
				}
			}
			#browseDarcade {
				width: 940px;
				margin-bottom: 80px;

				div.browse-div:first-child {
					margin-right: 5px;
				}
				div.browse-div:nth-child(2) {
					margin-right: 5px;
				}
				.browse-div {
					width: 310px;
					height: 80px;
					float: left;
					background: linear-gradient(to top right, #1d6589 0%, #40b1f2 100%);
					line-height: 80px;
					text-align: center;
					border-radius: 5px;

					a {
						width: 310px;
						color: $text-color-primary;
						display: inline-block;
						text-transform: capitalize;
						font-size: 18px;
						text-decoration: none;
					}
					a:hover {
						color: $text-color-hover;
					}
				}
			}
			#under25 {
				width: 940px;
				margin-bottom: 60px;

				div.special-offer-item:first-child {
					margin-right: 5px;
				}
				div.special-offer-item:nth-child(2) {
					margin-right: 5px;
				}
				.special-offer-item {
					width: 310px;
					height: 190px;
					float: left;
					background: linear-gradient(to top right, #1d6589 0%, #40b1f2 100%);

					.special-offer-item-image {
						width: 310px;
						height: 145px;

						img {
							width: 310px;
							height: 145px;
						}
					}
					.special-offer-item-price {
						width: 310px;
						height: 45px;
						padding: 5px;

						.special-offer-item-price-wrapper {
							display: inline-block;
							float: right;

							.special-offer-price-discount {
								background-color: $discount-bg-color;
								color: $discount-text-color-green;
								float: left;
								height: 35px;
								padding: 0 10px;
								font-size: 20px;
							}
							.special-offer-price-base {
								height: 35px;
								color: $text-color-secondary;
								float: left;
								background-color: $price-bg-color;
								font-size: 16px;
								padding: 0 5px;
								line-height: 35px;
							}
							.special-offer-price-sale {
								height: 35px;
								color: $text-color-hover;
								float: left;
								background-color: $price-bg-color;
								font-size: 16px;
								padding: 0 5px;
								line-height: 35px;
							}

						}
					}
				}
			}
			#under10 {
				width: 940px;
				margin-bottom: 60px;

				div.special-offer-item:first-child {
					margin-right: 5px;
				}
				div.special-offer-item:nth-child(2) {
					margin-right: 5px;
				}
				.special-offer-item {
					width: 310px;
					height: 190px;
					float: left;
					background: linear-gradient(to top right, #1d6589 0%, #40b1f2 100%);

					.special-offer-item-image {
						width: 310px;
						height: 145px;

						img {
							width: 310px;
							height: 145px;
						}
					}
					.special-offer-item-price {
						width: 310px;
						height: 45px;
						padding: 5px;

						.special-offer-item-price-wrapper {
							display: inline-block;
							float: right;

							.special-offer-price-discount {
								background-color: $discount-bg-color;
								color: $discount-text-color-green;
								float: left;
								height: 35px;
								padding: 0 10px;
								font-size: 20px;
							}
							.special-offer-price-base {
								height: 35px;
								color: $text-color-secondary;
								float: left;
								background-color: $price-bg-color;
								font-size: 16px;
								padding: 0 5px;
								line-height: 35px;
							}
							.special-offer-price-sale {
								height: 35px;
								color: $text-color-hover;
								float: left;
								background-color: $price-bg-color;
								font-size: 16px;
								padding: 0 5px;
								line-height: 35px;
							}

						}
					}
				}
			}
		}
	}
}
#gameShow {
	margin-bottom: 120px;

	h2 {
		text-transform: capitalize;
		color: #fff;
	}
	.game-info-wrapper {
		height: 445px;

		.game-info-left {
			width: 600px;
			height: 445px;
			float: left;

			.game-left-top {
				width: 600px;
				height: 335px;

				img {
					width: 600px;
					height: 335px;
				}
			}
			.game-left-bottom {
				width: 600px;
				height: 110px;
				padding: 10px 2px;

				img {
					width: 145px;
					height: 80px;
					float: left;
					margin-right: 5px;
				}
				img:last-child {
					margin-right: 0;
				}
			}
		}
		.game-info-right {
			width: 340px;
			height: 445px;
			padding-left: 15px;
			float: right;

			.game-right-image {
				width: 325px;
				height: 150px;
				margin-bottom: 7px;

				img {
					width: 325px;
					height: 150px;
				}
			}
			.game-right-desc {
				width: 325px;
				height: 100px;
				padding-right: 15px;
				overflow: hidden;
				margin-bottom: 7px;

				p {
					margin: 0;
					color: $text-color-primary;
				}
			}
			.game-right-details {
				width: 325px;

				.inline-block {
					width: 105px;
					display: inline-block;
					font-size: 12px;
				}
				span.gray {
					color: $text-color-secondary;
				}
				span.white {
					color: $text-color-hover;
				}
				a {
					color: $above-header-bg-color;
					text-decoration: none;
					font-weight: bold;
				}
				a:hover {
					color: $text-color-hover;
				}
			}
			.game-right-genre {
				span {
					a {
						color: $above-header-bg-color;
						text-decoration: none;
						font-weight: bold;
					}
					a:hover {
						color: $text-color-hover;
					}
				}
			}
		}
	}
	.game-action-wrapper {
		width: 940px;
		height: 45px;
		padding: 5px 15px;
		margin-bottom: 30px;
		background-color: $price-bg-color;

		p {
			line-height: 35px;
			color: $text-color-primary;
			margin: 0;
		}
	}
	.game-bottom-section {
		width: 600px;
		margin-bottom: 50px;

		.game-buy-wrapper {
			width: 600px;
			height: 70px;
			padding: 16px 16px 26px 16px;
			background: linear-gradient(to right, #323b47 0%, #556470 100%);
			border: 1px solid #555;
			position: relative;

			h3 {
				color: $text-color-hover;
				margin: 0;
				font-weight: bold;
			}
			.game-buy-price-wrapper {
				position: absolute;
				text-align: right;
				right: 16px;
				bottom: -18px;
				border: 1px solid #000;

				.special-offer-price-discount {
					background-color: $discount-bg-color;
					color: $discount-text-color-green;
					float: left;
					height: 35px;
					padding: 0 10px;
					font-size: 20px;
				}
				.special-offer-price-base {
					height: 35px;
					line-height: 35px;
					float: left;
					color: $text-color-secondary;
					background-color: #000;
					padding: 0 10px;
				}
				.special-offer-price-sale {
					height: 35px;
					line-height: 35px;
					float: left;
					color: $text-color-hover;
					background-color: #000;
					padding: 0 10px;
				}
				.add-to-cart {
					height: 35px;
					line-height: 35px;
					float: left;

					.link-buttton {
						padding: 0px 20px;
						display: inline-block;
						text-decoration: none;
						color: $text-color-hover;
						font-weight: bold;
						background: linear-gradient(to left, #7cbb00 0%, #61882b 100%);
					}
					.link-buttton:hover {
						background: none #7CBB00;
					}
				}
			}
		}
		.game-about-wrapper {
			width: 600px;
			margin-top: 50px;
			margin-bottom: 10px;

			h2 {
				margin: 0;
				font-size: 1.3em;
				padding-bottom: 3px;
				text-transform: uppercase;
				border-bottom: 1px solid $above-header-bg-color;
			}
			p {
				color: $text-color-hover;
				margin: 10px 0;
			}
		}
		.game-reviews-wrapper {
			width: 600px;
			margin-top: 50px;
			margin-bottom: 10px;

			h2 {
				margin: 0;
				font-size: 1.3em;
				padding-bottom: 3px;
				text-transform: uppercase;
				border-bottom: 1px solid $above-header-bg-color;
			}
			.review-wrapper {
				width: 600px;
				background-color: $price-bg-color;
				margin-top: 10px;
				margin-bottom: 20px;

				.review-left {
					width: 200px;
					float: left;
					padding: 10px;
					color: $text-color-primary;

					h4 {
						margin: 0;
					}
					h5 {
						margin: 0;
						margin-top: 5px;
					}
				}
				.review-right {
					width: 400px;
					float: right;

					.review-right-recommended {
						height: 40px;
						margin-top: 8px;
						margin-bottom: 13px;

						.rec {
							background-color: #26638c;
							color: $above-header-bg-color;
						}
						.not-rec {
							background-color: #4e1e25;
							color: #e06162;
						}
						.review-right-icon {
							width: 40px;
							height: 40px;
							float: left;
							text-align: center;
							line-height: 40px;

							i {
								padding-top: 4px;
								font-size: 32px;
							}
						}
						.review-right-title {
							width: 360px;
							height: 40px;
							padding-left: 10px;
							float: left;
							line-height: 40px;
							font-size: 18px;
							color: #fff;
							background-color: $footer-bg-color;
						}
					}
					.review-right-time {
						margin-bottom: 5px;
						color: $text-color-secondary;
					}
					.review-right-content {
						padding-right: 10px;
						margin-top: 5px;
						margin-bottom: 20px;

						p {
							color: $text-color-primary;
						}
					}
				}
			}
		}
	}
}
#supportSection {
	width: 700px;
	height: 80vh;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 80px;

	.support-top {
		text-align: center;

		h1 {
			color: $text-color-hover;
		}
		p {
			color: $text-color-primary;
			font-size: 18px;
		}
	}
	form {
		margin-top: 50px;

		.form-control {
			width: 600px;
			margin: 0 auto;
			margin-bottom: 22px;
		}
		#question {
			resize: vertical;
		}
		.submit-button-wrapper {
			width: 600px;
			margin: 0 auto;

			button {
				float: right;
				padding: 7px 20px;
			}
		}
	}
}
#authorSection {
	width: 940px;
	height: 80vh;

	h1 {
		color: $text-color-hover;
	}
	#authorWrapper {
		width: 940px;

		#authorLeft {
			width: 200px;
			padding-right: 20px;
			float: left;

			img {
				width: 180px;
			}
		}
		#authorRight {
			width: 740px;
			float: right;

			p {
				color: $text-color-primary;
			}
		}
	}
}
#showGenreGamesSection {
	width: 600px;
	min-height: 80vh;

	h1 {
		color: $text-color-hover;
		margin-bottom: 20px;
	}
	.genre-games-wrapper {
		width: 700px;
		margin-bottom: 80px;

		.game-wrapper {
			width: 700px;
			height: 70px;
			margin: 7px 0;
			background-color: $price-bg-color;

			.game-image-wrapper {
				width: 185px;
				float: left;

				img {
					width: 185px;
					height: 70px;
				}
			}
			.game-content-wrapper {
				width: 515px;
				height: 70px;
				float: left;
				padding-left: 10px;

				.game-content-first-col {
					width: 355px;
					height: 100%;
					float: left;

					h4 {
						color: $text-color-hover;
					}
					h6 {
						color: $text-color-primary;
						margin: 0;
					}
				}
				.game-content-second-col {
					width: 75px;
					height: 100%;
					float: left;
					color: $discount-text-color-green;

					div {
						padding: 0 5px;
						display: inline-block;
						margin-top: 23px;
						margin-left: 18px;
						background-color: $discount-bg-color;
					}
				}
				.game-content-third-col {
					width: 75px;
					height: 100%;
					float: right;
					padding-right: 10px;

					.special-offer-price-both {
						height: 35px;
						float: right;
						padding: 0 7px;
						margin-top: 18px;

						.special-offer-price-base {
							height: 17px;
							color: $text-color-secondary;
							font-size: 12px;

							del {
								display: block;
								text-align: right;
							}
						}
						.special-offer-price-sale {
							height: 18px;
							color: $text-color-hover;
							font-size: 14px;
						}
					}
				}
			}
		}
		.game-wrapper:hover {
			background-color: $footer-bg-color;
		}
	}
}
#showDeveloperGamesSection {
	width: 940px;
	min-height: 80vh;

	h1 {
		color: $text-color-hover;
		margin-bottom: 20px;
	}
	.genre-games-wrapper {
		width: 800px;
		margin-bottom: 80px;

		.game-wrapper {
			width: 800px;
			height: 70px;
			margin: 7px 0;
			background-color: $price-bg-color;

			.game-image-wrapper {
				width: 185px;
				float: left;

				img {
					width: 185px;
					height: 70px;
				}
			}
			.game-content-wrapper {
				width: 615px;
				height: 70px;
				float: left;
				padding-left: 10px;

				.game-content-first-col {
					width: 335px;
					height: 100%;
					float: left;

					h4 {
						color: $text-color-hover;
					}
					h6 {
						color: $text-color-primary;
						margin: 0;
					}
				}
				.game-content-forth-col {
					width: 120px;
					height: 100%;
					line-height: 70px;
					float: left;
					text-align: center;
					color: $text-color-secondary;
				}
				.game-content-second-col {
					width: 75px;
					height: 100%;
					float: left;
					color: $discount-text-color-green;

					div {
						padding: 0 5px;
						display: inline-block;
						margin-top: 23px;
						margin-left: 18px;
						background-color: $discount-bg-color;
					}
				}
				.game-content-third-col {
					width: 75px;
					height: 100%;
					float: right;
					padding-right: 10px;

					.special-offer-price-both {
						height: 35px;
						float: right;
						padding: 0 7px;
						margin-top: 18px;

						.special-offer-price-base {
							height: 17px;
							color: $text-color-secondary;
							font-size: 12px;

							del {
								display: block;
								text-align: right;
							}
						}
						.special-offer-price-sale {
							height: 18px;
							color: $text-color-hover;
							font-size: 14px;
						}
					}
				}
			}
		}
		.game-wrapper:hover {
			background-color: $footer-bg-color;
		}
	}
}
.app-global-container {

	#loginSectionWrapper {
		width: 600px;
		height: 80vh;
		margin: 50px auto;

		h2 {
			color: $text-color-hover;
		}
		.form-group {

			label {
				color: $text-color-secondary;
			}
		}
		.submit-button-wrapper {
			width: 600px;
			margin: 0 auto;

			button {
				float: right;
				padding: 7px 20px;
			}
		}
	}
}
#cartSection {
	width: 940px;
	height: 80vh;
	float: left;
	margin: 50px 0;

	h2 {
		color: $text-color-hover;
		margin-bottom: 20px;
	}
	#cartSectionLeft {
		width: 700px;
		float: left;
	}
	#cartContentWrapper {
		width: 700px;

		.game-wrapper {
			width: 700px;
			height: 70px;
			margin: 7px 0;
			background-color: $price-bg-color;

			.game-image-wrapper {
				width: 185px;
				float: left;

				img {
					width: 185px;
					height: 70px;
				}
			}
			.game-content-wrapper {
				width: 515px;
				height: 70px;
				float: left;
				padding-left: 10px;

				.game-content-first-col {
					width: 255px;
					height: 100%;
					float: left;

					h4 {
						color: $text-color-hover;
					}
					h6 {
						color: $text-color-primary;
						margin: 0;
					}
				}
				.game-content-second-col {
					width: 75px;
					height: 100%;
					float: left;
					color: $discount-text-color-green;

					div {
						padding: 0 5px;
						display: inline-block;
						margin-top: 23px;
						margin-left: 18px;
						background-color: $discount-bg-color;
					}
				}
				.game-content-third-col {
					width: 75px;
					height: 100%;
					float: left;
					padding-right: 10px;

					.special-offer-price-both {
						height: 35px;
						float: left;
						padding: 0 7px;
						margin-top: 18px;

						.special-offer-price-base {
							height: 17px;
							color: $text-color-secondary;
							font-size: 12px;

							del {
								display: block;
								text-align: right;
							}
						}
						.special-offer-price-sale {
							height: 18px;
							color: $text-color-hover;
							font-size: 14px;
						}
					}
				}
				.game-content-forth-col {
					width: 80px;
					height: 100%;
					line-height: 70px;
					padding: 0 5px;
					float: right;

					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.cart-buy-wrapper {
		width: 700px;
		height: 150px;
		background-color: $price-bg-color;

		.cart-buy-top {
			width: 700px;
			height: 50px;
			padding: 0 10px;

			.top-left {
				width: 100px;
				height: 50px;
				float: left;
				line-height: 50px;
				color: $text-color-hover;
				font-weight: bold;
			}
			.top-right {
				width: 300px;
				height: 50px;
				float: right;
				text-align: right;
				line-height: 50px;
				padding-right: 10px;
				color: $text-color-hover;
			}
		}
		.cart-buy-bottom {
			width: 700px;
			height: 100px;
			padding: 0 10px;

			.bottom-left {
				width: 300px;
				height: 100px;
				float: left;
				color: $text-color-hover;
				padding-top: 30px;

				.link-button {
					border-radius: 4px;
					border: 1px solid $footer-bg-color;
					padding: 5px 15px;
					display: inline-block;
					text-decoration: none;
					color: $text-color-primary;
					background-color: #cc0000;
				}
			}
			.bottom-right {
				width: 300px;
				height: 100px;
				float: right;
				text-align: right;
				padding-right: 10px;
				color: $text-color-hover;
				padding-top: 30px;

				.link-button {
					border-radius: 4px;
					border: 1px solid $footer-bg-color;
					padding: 5px 15px;
					display: inline-block;
					text-decoration: none;
					color: $text-color-hover;
					background: linear-gradient(to left, #7cbb00 0%, #61882b 100%);
					font-weight: bold;
				}
			}
		}
	}
}
#cartSectionRight {
	width: 220px;
	height: 70px;
	float: right;
	margin-left: 20px;
	margin-top: 75px;
	line-height: 70px;
	background-color: $price-bg-color;
	border-radius: 5px;
	text-align: center;

	a {
		text-decoration: none;
		color: $text-color-primary;
	}
}
#purchaseHistoryContentWrapper {
	width: 700px;

	#purchaseHeader {
		width: 700px;
		height: 40px;
		border: 1px solid #4d4d4d;
		border-bottom: 0;

		.purchase-row {
			width: 698px;
			height: 40px;
			background-color: $above-header-bg-color;
			color: #fff;

			.col-1 {
				width: 148px;
				height: 40px;
				line-height: 40px;
				float: left;
				text-align: center;
			}
			.col-2 {
				width: 400px;
				height: 40px;
				line-height: 40px;
				float: left;
				text-align: left;
				padding-left: 40px;
			}
			.col-3 {
				width: 150px;
				height: 40px;
				line-height: 40px;
				float: left;
				text-align: center;
			}
		}
	}
	#purchaseBody {
		width: 700px;
		border: 1px solid #4d4d4d;
		border-top: 0;

		.purchase-row {
			width: 698px;
			height: 60px;

			.col-1 {
				width: 148px;
				height: 60px;
				line-height: 60px;
				float: left;
				text-align: center;
				color: $text-color-secondary;
			}
			.col-2 {
				width: 400px;
				height: 60px;
				line-height: 60px;
				float: left;
				text-align: left;
				padding-left: 40px;

				a {
					color: $text-color-hover;
					text-decoration: none;
				}
			}
			.col-3 {
				width: 150px;
				height: 60px;
				line-height: 60px;
				float: left;
				text-align: center;
				color: #fff;
			}
		}
		.purchase-row:nth-child(odd) {
			background-color: $price-bg-color;
		}
	}
}